rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /orders/{orderId} {
      allow read: if request.auth != null && resource.data.userUid == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userUid == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.userUid == request.auth.uid;
    }

    match /carts/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /product_enrichment/{document} {
      allow read, write: if true;
    }
  }
}
